.autoCompletar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.contenedorAutocompletar{
    display: flex;
    
    width: 100%;
    
}
#free-solo-demo{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);

}
#free-solo-2-demo{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
#contenedorInp{
    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}