.autoCompletar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.contenedorAutocompletar{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-top: 10px;
}
#free-solo-demo{
    width: 400px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: white;
}
#free-solo-2-demo{
    width: 400px;
    display: flex;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: white;
}
#contenedorInp{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}